body {
	background-color: #5BC0DE;
	position: relative;
	height: 100vh;
}

.active-students,
.inactive-students,
.select-box {
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: orange;
	outline: 2px solid black;
}

.content {  
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.student-card {
	/*margin-left: 1px;*/
	/*margin-right: 1px;*/
	margin-bottom: 1em;
	
	/*margin-bottom: 1em;*/
	padding-top: 2em;
	padding-bottom: 2em;
	outline: 1px solid black

}

.inactive-students {
	padding-left: 1em;
	padding-right: 1em;
}